@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  background-color: #F7F4EF;
  overflow-x: hidden;
  scrollbar-width: none;  
  -ms-overflow-style: none;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


